.containerDropDown{
    display: flex;
    flex-direction: column;
    position: relative;
}
.containerDropDown .dropdownInput{
    border: solid 1px var(--secondary200);
    padding-inline: 12px;
    padding-block: 16px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FFF;
    width: 100%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    position: relative;
}
.containerDropDown .dropdownInput .label{
    position: absolute;
    top: -10px;
    left: 15px;
    background-color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-inline: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.containerDropDown .dropdownList{
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #FFF;
    margin-top: 8px;
    gap: 8px;
    position: absolute;
    top: 50px;
    border: solid 1px var(--primary-200);
    width: 100%;
    border-radius: 4px;
    z-index: 2000;
}
.containerDropDown .optionDrop{
    cursor: pointer;
    padding: 4px;
    transition: .3s;
    border-radius: 2px;
}
.containerDropDown .optionDrop:hover{
    background-color: var(--primary-200);
}




.containerInputSend .divInput{
    display: flex;
    flex-direction: column;
    position: relative;
}
.containerInputSend .divInput label{
    position: absolute;
    top: 0px;
    left: 15px;
    background-color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-inline: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.containerInputSend .divInput .input{
    border: solid 1px var(--primary-200);
    padding-inline: 12px;
    padding-block: 16px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    height: 55px;
}
.containerInputSend .divInput .input::placeholder{
    color: var(--color-3);
}