.containerMenuDash{
    display: flex;
    flex-direction: column;
    padding: 32px 0px 32px 24px;
    width: 280px;
    color: var(--secondary800);
    flex-shrink: 0;
    background-color: #FFF;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    padding-bottom: 100px;
}
.containerMenuDash .divOptions{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.containerMenuDash .divOption{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
}
.containerMenuDash .divOption .divIcon{
    display: flex;
    align-items: center;
    width: 50px;
}
.containerMenuDash .active{
    color: var(--yellow-1);
    border-right: solid 3px var(--yellow-1);
}
.containerMenuDash .divOptions .block{
    color: var(--primary-200);
}