.containerMenu {
    display: flex;
    position: fixed;
    flex-direction: column;
    padding: 32px 24px;
    width: 320px;
    box-shadow: 10px 0 10px 0 #ddd;
    color: var(--secondary800);
    flex-shrink: 0;
    padding-top: 100px;
    background-color: #FFF;
    overflow-y: auto; 
    height: 100vh; 
}
.containerMenu::-webkit-scrollbar {
    width: 6px; 
}

.containerMenu::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 10px;
}

.containerMenu::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

.containerMenu .ft14{
    font-size: 14px;
}
.containerMenu .divContentMenu{
    display: flex;
    
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 32px;
}
.containerMenu .divName{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerMenu .infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 10px;
}
.containerMenu .divOptions{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 32px 0px;
    font-size: 16px;
    border-bottom: solid 1px #ccc;
}
.containerMenu .divOptions .option{
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.containerMenu .divOptions .option .divIcon{
    display: flex;
    align-items: center;
    width: 50px;
}
.containerMenu .divOptions .active{
    color: var(--yellow-1);
    border-right: solid 3px var(--yellow-1);
}
.containerMenu .divBtnBack{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
}

.materials_title {
    padding: 1rem;
}

.materials_text {
    padding: 0.825rem 0 0.825rem 0.825rem ;
}

.materialItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    padding: 0.825rem 0 0.825rem 0.825rem;
    cursor: pointer;
}

.materialIcon {
    padding: 4px;
    border-radius: 4px;
    background-color: var(--secondary200);
}

.materialName {
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary900);
}

.materialNone {
    padding: 0.825rem 0 0.825rem 0.825rem;
    font-weight: bold;
}