.containerMenu{
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    width: 320px;
    box-shadow: 10px 0 10px 0 #ddd;
    color: var(--secondary800);
    flex-shrink: 0;
}
.containerMenu .divContentMenu{
    display: flex;
    
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 32px;
}
.containerMenu .divName{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerMenu .infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 10px;
}
.containerMenu .divOptions{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 32px 0px;
    font-size: 18px;
    border-bottom: solid 1px #ccc;
}
.containerMenu .divOptions .option{
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.containerMenu .divOptions .option .divIcon{
    display: flex;
    align-items: center;
    width: 50px;
}
.containerMenu .divOptions .active{
    color: var(--yellow-1);
    border-right: solid 3px var(--yellow-1);
}
.containerMenu .divBtnBack{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
}