.testTitle {
  font-size: 32px;
  font-weight: 400;
  color: var(--secondary1000);
}

.titleIcon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.testQuestion {
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-bottom: 12px;
}

.testOptions {
  list-style: none;
  padding: 10px;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  border: 2px solid var(--bg-block);
  border-radius: 8px; 
  transition: all 0.3s ease;
  cursor: pointer;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-right: 2rem;
}

.btn-nav {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--secondary900);
}

.btn-nav:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.testOptionItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testOptionItem input {
  margin-right: 10px; 
}
.questionCounter {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary900);
  margin-bottom: 6px;
}

.justify-btns {
  display: flex;
  align-items: center;
}

button.btn-confirm {
  margin-left: 20px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid var(--bg-block); 
  border-radius: 50%; 
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: white; 
  border: 2px solid var(--bg-btnConfirm); 
}

input[type="checkbox"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: var(--bg-btnConfirm);
  border-radius: 50%;
}
.resultadoProva__status {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  flex-direction: row;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  background-color: #FAFAFA;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-aviso {
  font-size: 18px;
  font-weight: 400;
  max-width: 70%;
  color: var(--secondary900);
  padding: 0 8px;
}

.resultadoProva__score {
  color: var(--bg-White);
  background-color: var(--error);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 8px 14px;
  border-radius: 49px;
}

.resultadoProva__button {
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    background-color: var(--primary);
    padding: 8px 12px;
    border-radius: 4px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
    margin-left: 4px;
}
.resultadoProva__button:hover {
  scale: 1.03;
}

.perguntas_respostas {
  margin-right: 1rem;
}

.perguntas_respostas ul {
  list-style-type: none; 
  padding: 0;
}

.perguntas_respostas li {
  margin-bottom: 1.5rem;
  padding: 16px 32px; 
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.pergunta_recebida {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.resposta_selecionada {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  padding: 12px;
  height: 70px;
  gap: 8px;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--bg-principal);
  background-color: #222d7e05;
  border-radius: 8px; 
  transition: all 0.3s ease;
  margin-bottom: 1rem;
  color: var(--secondary900);
  width: 100%;
  box-sizing: border-box;
}

.btn_final {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.circle-checkbox {
  width: 20px;
  height: 20px; 
  border-radius: 50%; 
  border: 2px solid var(--bg-principal); 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  margin-right: 8px; 
  background-color: transparent; 
}

.circle-checkbox.selected {
  background-color: transparent;
}

.circle-inner {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: var(--bg-principal); 
}

.resposta_selecionada.correta {
  border: 1px solid var(--bg-principal);
  background-color: #1BA28405;
}


.resposta_selecionada.errada {
  border: 1px solid var(--error); 
  background-color: #D32F2F05; 
}


.circle-checkbox.correta {
  background-color: transparent; 
}

.circle-inner.correta {
  background-color: var(--bg-success);
}

.circle-checkbox.errada {
  background-color: transparent;
  border: 2px solid var(--error);
}

.circle-inner.errada {
  background-color: var(--error); 
}


@media (max-width: 768px) {
  .containerProva {
    padding: 3rem;
  }
}