.containerPreLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-1);
    color: var(--color-1);
}
.containerPreLogin .divForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px;
    border-radius: 4px;
    background-color: var(--bg-White);
    gap: 64px;
    width: 90%;
    max-width: 600px;
}
.containerPreLogin .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerPreLogin .intro .headLine{
    font-size: 64px;
}
.containerPreLogin .intro .text{
    font-size: 16px;
    font-weight: 400;
}
.containerPreLogin .divOptions{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.containerPreLogin .divOption{
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 24px;
    border: 1px solid var(--primary-200);
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}
.containerPreLogin .divOption:hover{
    border: solid 1px var(--primary-300);
    background-color: var(--bg-1);
}
.containerPreLogin .divOption:hover .divIcon{
    background-color: var(--primary-300);
}
.containerPreLogin .divOption .divIcon{
    background-color: var(--primary-200);
    padding: 9px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    color: var(--color-1);
}
.containerPreLogin .divOption .divText{
    display: flex;
    flex-direction: column;
}
.containerPreLogin .divOption .divText .textTitle{
    font-weight: bold;
}
.containerPreLogin .divOption .divText .textSubtitle{
    color: #726C6C;
}
