.containerRastreios{
    width: 100%;
    max-width: 1500px;
    padding: 0px 24px;
    color: var(--secondary1000);
}
.containerRastreios header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerRastreios .subtitle{
    font-size: 18px
}
.containerRastreios .divCrads {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 32px; 
    width: 100%;
    margin-top: 32px;
}
.containerRastreios .divCrads .divCard {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-shadow: 0px 4px 8px .8px #ddd;
    border-radius: 4px;
    margin: 0; 
    color: var(--secondary1000);
}
.containerRastreios .divCrads .divCard .title {
    font-size: 20px;
}
.containerRastreios .divCrads .divCard .value {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
}
.containerRastreios .divPDF{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-inline: 200px;
    background-color: var(--blur);
    padding-top: 80px;
    z-index: 5000;
}
.containerRastreios .showPDF{
    display: flex;
}
.containerRastreios .divPDF .divPDFSheet {
    background-color: #FFF;
    padding: 16px 0px;
    height: 85%; 
    max-width: 900px;
    width: 100%;
    overflow: auto; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.containerRastreios .divPDF .divBtnsPDF{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    max-width: 900px;
    width: 100%;
    margin-bottom: 10px;
}
.containerRastreios .divPDF .divBtnsPDF .divIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFF;
    padding: 10px;
    cursor: pointer;
}
@media (max-width: 767px) {
    .containerRastreios header{
        flex-direction: column;
        width: 100%;
        gap: 12px;
    }
    .containerRastreios .divPDF{
        padding-inline: 0px;
        padding-top: 0px;
        z-index: 8000;
    }
}