.containerAlunos{
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 100%;
}
.containerAlunos .divContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
    background-color: #FFF;
    border-radius: 4px;
    height: auto;
    padding-bottom: 16px;
    font-size: 16px;
}
.containerAlunos .divInfos {
    display: flex;
    flex-direction: column;
}
.containerAlunos .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.containerAlunos .divContent .divInputs{
    display: flex;
    gap: 8px;
}
.containerAlunos .divAlunos{
    position: relative;
}
.containerAlunos .divHeader,
.containerAlunos .divAlunos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: solid 1px var(--primary-200);
}
.containerAlunos .divHeader .title,
.containerAlunos .divAlunos .spanBox {
    padding: 16px;
    overflow: hidden;        
    text-overflow: ellipsis; 
    white-space: nowrap;
    position: relative;
}
.containerAlunos .divAlunos .spanBox .text{
    display: flex;
    align-items: center;
    border-radius: 20px;
    max-width: 130px;
}
.containerAlunos .divAlunos .spanBox .ativo{
    background-color: var(--success-light);
    color: var(--success);
}
.containerAlunos .divAlunos .spanBox .pendente{
    background-color: var(--warning50);
    color: var(--warning200);
}
.containerAlunos .divAlunos .spanBox .inativo{
    background-color: var(--primary-200);
    color: var(--color-block);
}
.containerAlunos .bold{
    font-weight: bold;
}
.containerAlunos .divAlunos .spanBox .boa{
    color: var(--success);
}
.containerAlunos .divAlunos .spanBox .ruim{
    color: var(--warning200);
}
.containerAlunos .divAlunos .btnEditUser{
    position: absolute;
    right: 16px;
    border: solid 1px var(--primary-200);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.containerAlunos .divAlunos .modalEditUser{
    position: absolute;
    right: 36px;
    padding: 3px;
    border: solid 1px var(--primary-200);
    border-radius: 4px;
    background-color: #FFF;
    z-index: 2000;
}
.containerAlunos .divAlunos .modalEditUser p{
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    transition: .3s;
}
.containerAlunos .divAlunos .modalEditUser .alert{
    color: var(--error);
}
.containerAlunos .divAlunos .modalEditUser .alert:hover{
    background-color: var(--errorHover);
}
.containerAlunos .divAlunos .modalEditUser .text:hover{
    background-color: var(--primary-200);
}
.containerAlunos .containerModalConfirmDelete{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
    background-color: var(--blur);
}
.containerAlunos .containerModalConfirmDelete .modalConfirmDelete{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 24px;
    border-radius: 4px;
    gap: 24px;
}
.containerAlunos .containerModalConfirmDelete .modalConfirmDelete .titleAlert{
    font-size: 18px;
    font-weight: 500;
}
.containerAlunos .containerModalConfirmDelete .modalConfirmDelete .divBtns{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;
}
.containerAlunos .containerModalConfirmDelete .modalConfirmDelete .divBtns button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: .3s;
}
.containerAlunos .containerModalConfirmDelete .modalConfirmDelete .divBtns .delete{
    color: var(--error);
    font-weight: 500;
}
.containerAlunos .containerModalConfirmDelete .modalConfirmDelete .divBtns .delete:hover{
    background-color: var(--errorHover);
}
.containerAlunos .containerModalConfirmDelete .modalConfirmDelete .divBtns .close:hover{
    background-color: #00000025;
}