.containerRastreios{
    width: 100%;
    max-width: 1500px;
    padding: 0px 24px;
    color: var(--secondary1000);
}
.containerRastreios header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerRastreios .subtitle{
    font-size: 18px
}
.containerRastreios .divCrads {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 32px; 
    width: 100%;
    margin-top: 32px;
}
.containerRastreios .divCrads .divCard {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-shadow: 0px 4px 8px .8px #ddd;
    border-radius: 4px;
    margin: 0; 
    color: var(--secondary1000);
}
.containerRastreios .divCrads .divCard .title {
    font-size: 20px;
}
.containerRastreios .divCrads .divCard .value {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
}
.containerRastreios .divConcluidos{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    border: solid 1px #ccc;
    border-radius: 4px;
    margin-bottom: 64px;
}
.containerRastreios .divConcluidos header{
    padding: 16px;
    margin-top: 24px;
}
.containerRastreios .divConcluidos .divHeaderValues{
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);;
    align-items: center;
    border-bottom: solid 1px var(--color-2);
}
.containerRastreios .divConcluidos .divHeaderValues .divTitle{
    font-size: 14px;
}
.containerRastreios .divConcluidos .divValues .divPatient{
    padding:16px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);;
    align-items: center;
    border-bottom: solid 1px var(--color-2);
}
.containerRastreios .divConcluidos .divValues .divPatient .divlineValue{
    font-size: 14px;
}
.containerRastreios .containerGraficMini{
    display: flex;
    gap: 2px;
    align-items: end;
}
.containerRastreios .containerGraficMini .bar{
    width: 4px;
    background-color: var(--secondary500);
    border-radius: 4px;
}
.containerRastreios .containerGraficMini .bar-1{
    height: 5px;
}
.containerRastreios .containerGraficMini .bar-2{
    height: 10px
}
.containerRastreios .containerGraficMini .bar-3{
    height: 15px;
}
.containerRastreios .containerGraficMini .bar-4{
    height: 20px;
}
.containerRastreios .containerGraficMini .green{
    background-color: var(--success);
}
.containerRastreios .containerGraficMini .yellow{
    background-color: var(--warning200);
}
.containerRastreios .containerGraficMini .red{
    background-color: var(--error);
}



