.containerButtonBold{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerButtonBold button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    background-color: var(--primary);
    padding: 12px 32px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}
.containerButtonBold button:hover{
    scale: 1.01;
}
.containerButtonBold button:disabled {
    background-color: var(--bg-block);
    color: var(--color-block);
    scale: 1;
}

