.containerHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}
.containerHome .divContentHome{
    width: 100%;
    max-width:1500px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 64px;
}
.containerHome .divContentHome .borderB{
    border-bottom: solid 1px var(--primary-200);
    padding-bottom: 32px;
}