.modal {
    width: 240px;
    height: 184px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 16px;
    top: 85px;
    border: 1px solid #c2cdd6;
}
.modal-infos {
    margin-bottom: 16px;
    border-bottom: 1px solid #dae1e7;
    padding-bottom: 16px;

    h4 {
        color: #000;
        margin-bottom: 4px;
    }

    p {
        color: #898384;
    }
}

.modal-links a {
    display: block;
    text-decoration: none;
    color: #333;
}

.modal-links a:last-child {
    color: #952020;
    margin-top: 1rem;
}
