.containerButtonConfirm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.containerButtonConfirm button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    border: none;
    background-color: var(--primary);
    padding: 12px 32px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    height: 50px;
    cursor: pointer;
    transition: .3s;
    font-weight: bold
}
.containerButtonConfirm button:hover{
    scale: 1.01;
}
.containerButtonConfirm button:disabled{
    background-color: var(--bg-block);
    color: var(--color-block);
    scale: 1;
}