.containerHeader{
    background-color: var(--bg-principal);
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}
.containerHeader header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.containerHeader .divOptions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 64px;
}
.containerHeader .divOptions span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 16px;
    cursor: pointer;
    font-size: 16px;
}
.containerHeader .divUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerHeader .avatar{
    cursor: pointer;
}
.avatar-placeholder {
    width: 40px;
    height: 40px;
    background-color: var(--bg-White);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-principal);
    font-size: 20px;
    cursor: pointer;
}
.letter {
    margin-bottom: 4px;
}

@media (max-width: 767px) {
    .containerHeader header{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    } 
    .containerHeader .divUser{
        width: 100%;
        position: relative;
        padding-top: 16px;
    }
    .containerHeader .divOptions{
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        z-index: 5000;
    }
    .containerHeader .divOptions span{
        font-size: 14px;
        white-space: nowrap;
        padding: 5px 12px;
        width: 100%;
    }
    .containerHeader .avatar-placeholder{
        position: absolute;
        bottom: 38px;
        right: 16px;

    }
}
