.divLastRastreio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3000;
    background-color: var(--blur);
}
.divLastRastreio .divContent{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 32px;
    color: var(--secondary900);
    border-radius: 4px;
}
.divLastRastreio .divContent .headerLastRastreio{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 16px;
    border-bottom: solid 1px var(--primary-200);
    gap: 8px;
}
.divLastRastreio .divContent .headerLastRastreio h2{
    display: flex;
    align-items: center;
    gap: 8px;
}
.divLastRastreio .divContent .headerLastRastreio .icon{
    color: var(--success);
}
.divLastRastreio .divContent .headerLastRastreio p{
    font-size: 14px;
}
.divLastRastreio .divContent .infos{
    padding-block: 8px;
    border-bottom: solid 1px var(--primary-200);
}
.divLastRastreio .divContent .infos .bold{
    font-weight: bold;
}
.divLastRastreio .divContent .divTextResults{
    padding-block: 16px;
}
.divLastRastreio .divContent .divHeaderValues{
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);;
    align-items: center;
    border-bottom: solid 1px var(--primary-200);
    gap: 40px;
}
.divLastRastreio .divContent .divHeaderValues .divTitle{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 3px;
    margin-right: 3px;
    font-weight: 500;
}
.divLastRastreio .divContent .divHeaderValues .divTitle .iconClick{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.divLastRastreio .divContent .divValues .divPatient{
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);;
    align-items: center;
    border-bottom: solid 1px var(--primary-200);
    position: relative;
    gap: 40px;
}
.divLastRastreio .divContent .divValues .divPatient .divlineValue{
    font-size: 14px;
}
.divLastRastreio .divContent .divBtns{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}
@media (max-width: 767px) {
    .divLastRastreio .divContent{
        width:90%;
        overflow: hidden;
    }
}