.titleFisrt{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.titleLink{
    text-align: start;
    width: 100%;
}
.loginLink{
    width: 100%;
    text-align: center;
    margin-top: 16px;
}
.success{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blur);
    z-index: 5000;
}
.success .divContent{
    background-color: #FFF;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.success .title{
    font-weight: bold;
    font-size: 25px;
}
.w100{
    width: 100%;
}
.success .resend{
    padding: 12px;
    border-radius: 4px;
    background-color: transparent;
    border: solid 1px var(--bg-btnConfirm);
    color: var(--bg-btnConfirm);
    font-size: 16px;
}
.success .textDN{
    text-decoration: none;
    text-align: center;
}
.btnLoginFirst{
    border: none;
    padding: 14px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 12px;
    background-color: var(--bg-btnConfirm);
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 24px;
}
.btnLoginFirst:hover{
    scale: 1.01;
}