.containerNewRastreio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    padding-top: 100px;
}
.containerNewRastreio .divTitle{
    display: flex;
    align-items: center;
    color: var(--secondary900);
    gap: 16px;
    width: 100%;
    max-width: 1400px;
    margin-bottom: 32px;
}
.containerNewRastreio .divTitle .divIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--secondary900);
    color: #FFF;
    cursor: pointer;
}
.containerNewRastreio .divContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    padding: 32px;
    box-shadow: 0px 8px 10px .8px #ccc;
    border-radius: 10px;
}
.containerNewRastreio .divContent .divHeader{
    display: flex;
    flex-direction: column;
    padding: 32px 0px;

}
.containerNewRastreio .divContent .secondary900{
    color: var(--secondary900);
}
.containerNewRastreio .divContent .listTopicos{
    margin-left: 32px;
    color: var(--secondary900);
}
.containerNewRastreio .divContent .divBarPages{
    display: flex;
    border-top: solid 1px var(--secondary500);
    margin-top: 32px;
    gap: 32px;
    padding-top: 32px;
}
.containerNewRastreio .divContent .divBarPages .bar{
    width: 100%;
    height: 10px;
    background-color: var(--secondary500);
    border-radius: 10px;
}
.containerNewRastreio .divContent .divBarPages .active{
    background-color: var(--yellow-1);
}
.containerNewRastreio .divContent .divOptions{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 64px;
    padding-bottom: 100px;
}
.containerNewRastreio .divContent .divOptions .divOption{
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.containerNewRastreio .divContent .divOptions .divOption .title{
    font-weight: bold;
}
.containerNewRastreio .divContent .divOptions .divOption .btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 24px;
    width: 100%;
}
.containerNewRastreio .divContent .divOptions .divOption .btns .divBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(--secondary500);
    width: 100%;
    padding: 16px;
    border: solid 1px transparent;

}
.containerNewRastreio .divContent .divOptions .divOption .btns .active{
    color: #000;
    background-color: var(--primary-200);
    border: solid 1px var(--primary);
    border-radius: 4px;
    
}
.containerNewRastreio .divContent .divOptions .divOption .btns .divBtn .circle{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: solid 2px var(--secondary900);
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerNewRastreio .divContent .divOptions .divOption .btns .active .circle{
    border: solid 2px var(--primary);
}
.containerNewRastreio .divContent .divOptions .divOption .btns .circle .ball{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: var(--primary);
}
.containerNewRastreio .divContent .divOptions .divOption .btns .divBtn .textOption{
    color: var(--secondary900);
    text-align: center;
}

.containerNewRastreio .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    border-top: solid 1px var(--secondary500);
    /*position: fixed;
    bottom: 0;
    left: 50%;
    width: calc(100% - 64px);
    max-width: 1500px;
    background-color: #FFF;
    transform: translateX(-50%);
    */
}
.containerNewRastreio .footer .backNext{
    display: flex;
    align-items: center;
    gap: 32px;
}
.containerNewRastreio .footer .backNext .divIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: var(--primary);
    color: #FFF;
    cursor: pointer;
}
.containerNewRastreio .footer .backNext .blur{
    background-color: var(--secondary500);
}
.containerNewRastreio .btnNextSave{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    border: none;
    background-color: var(--primary);
    padding: 12px 32px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    font-weight: bold
}
.containerNewRastreio .btnNextSave:hover{
    scale: 1.01;
}
.containerNewRastreio .disabled{
    background-color: var(--bg-block);
    color: var(--color-block);
    scale: 1;
}
.containerNewRastreio .divCancel{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1400px;
    padding: 16px;
    box-shadow: 0px 8px 10px .8px #ccc;
    border-radius: 10px;
    margin-top: 32px;
}
.containerNewRastreio .divCancel .divBtn{
    border: solid 1px var(--primary);
    padding: 8px 22px;
    border-radius: 4px;
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
    transition: .3s;
}
.containerNewRastreio .divCancel .divBtn:hover{
    scale: 1.01;
}
@media (max-width: 767px) {
    .containerNewRastreio{
        padding:0px;
        padding-top: 150px;
    }
    .containerNewRastreio .divTitle{
        margin-left:24px;
    }
    .containerNewRastreio .divContent{
        box-shadow: none;
        border-bottom: solid 1px var(--bg-block);
    }
    .containerNewRastreio .footer{
        flex-direction: column;
        width: 100%;
        gap: 24px;
    }
}