.containerModuloDetails{
    padding: 32px;
    display: flex;
    flex-direction: column;
    color: var(--secondary1000);
}
.containerModuloDetails .divHeader{
    display: flex;
    align-items: center;
    gap:12px;
}
.containerModuloDetails .divHeader .divIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 25px;
    background-color: var(--secondary1000);
    color: #FFF;
    cursor: pointer;
}
.containerModuloDetails .divOptions{
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: #FFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 24px;
}
.containerModuloDetails .divTitle{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 18px;
    cursor: pointer;
    border-bottom: solid 2px transparent;
}
.containerModuloDetails .active{
    color: var(--yellow-1);
    border-bottom: solid 2px var(--yellow-1);
}
.containerModuloDetails .divValues{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}
.containerModuloDetails .divConteudos{
    display: flex;
    flex-direction: column;
}
.containerModuloDetails .divConteudos .divConteudo{
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #FFF;
    border-radius: 8px;
    margin-top: 32px;
    box-shadow: .8px 4px 6px .8px #ccc;
    gap: 6px;
}
.containerModuloDetails .divConteudos .divConteudo .divValue{
    padding: 6px;
    border: solid 1px var(--secondary500);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
}
.containerModuloDetails .divConteudos .divConteudo .divValue .divOptionsValue{
    display: flex;
    align-items: center;
    gap:12px;
}
.containerModuloDetails .divConteudos .divConteudo .divValue .divOptionsValue .divIcon{
    border: solid 1px var(--secondary500);
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.containerModuloDetails .divConteudos .divConteudo .divValue .divOptionsValue .delete:hover{
    color: var(--error);
    border: solid 1px var(--error);
}
.containerModuloDetails .divConteudos .divConteudo .divValue .divOptionsValue .edit:hover{
    color: var(--yellow-1);
    border: solid 1px var(--yellow-1);
}
.containerStoryTellingDetails .headerStory .divIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 25px;
    background-color: var(--secondary1000);
    color: #FFF;
    cursor: pointer;
}
.containerModuloDetails .divConteudos .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerModuloDetails .divConteudos .divConteudo .divBtnDelete{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 12px;
}
.containerModuloDetails .divConteudos .divConteudo .divBtnDelete button{
    border: none;
    background-color: var(--error);
    padding: 6px 12px;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}
.containerModuloDetails .divConteudos .divConteudo .divBtnDelete button:hover{
    scale: 1.02;
}
.containerModuloDetails .textAlert{
    font-size: 12px;
    background-color: var(--error);
    color: #FFF;
    padding: 4px 12px;
    border-radius: 25px;
}
.containerModuloDetails .divHeaderConteudo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.containerModuloDetails .divHeaderConfig{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.containerModuloDetails .btnConfirm{
    border: none;
    padding: 6px 12px;
    color: #FFF;
    font-weight: 500;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
    background-color: var(--primary);
}
.containerModuloDetails .btnConfirm:hover{
    scale: 1.02;
}
.containerModuloDetails .alert{
    background-color: var(--error);
}
.containerModuloDetails .containerConfig .contents{
    background-color: #FFF;
    border-radius: 8px;
    padding: 12px;
}
.containerModuloDetails .containerConfig .divInput{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 24px;
}
.containerModuloDetails .containerConfig .divInput label{
    position: absolute;
    top: 0px;
    left: 15px;
    background-color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-inline: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.containerModuloDetails .containerConfig .divInput input{
    border: solid 1px var(--primary-200);
    padding: 12px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}
.containerModuloDetails .mt24{
    margin-top: 24px;
}
.containerModuloDetails .containerConfig .inputDate{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.containerModuloDetails .containerMateriais{
    display: flex;
    flex-direction: column;
}   
.containerModuloDetails .containerMateriais .contents{
    background-color: #FFF;
    padding: 8px;
    border-radius: 8px;
    margin-top: 12px;
}
.containerModuloDetails .containerMateriais .labelFile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #ccc;
    padding: 32px;
    border-radius: 4px;
    cursor: pointer;
}
.containerModuloDetails .containerMateriais .fileList{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.containerModuloDetails .containerMateriais .fileList .divFile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 12px;
}
.containerModuloDetails .containerMateriais .fileList .divFile .infos{
    display: flex;
    align-items: center;
    gap: 8px;
}