.containerInputText .divInput{
    display: flex;
    flex-direction: column;
    position: relative;
}
.containerInputText .divInput label{
    position: absolute;
    top: 0px;
    left: 15px;
    background-color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-inline: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.containerInputText .divInput .input{
    border: solid 1px var(--color-2);
    padding-inline: 12px;
    padding-block: 16px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    height: 55px;
}
.containerInputText .divInput .input::placeholder{
    color: var(--color-3);
}