.titleFisrt{
    flex-direction: column;
    align-items: flex-start;
}
.loginLink{
    width: 100%;
    text-align: center;
    margin-top: 16px;
}
.containerLogin .block{
    background-color: var(--secondary500);
    color: var(--secondary1000);
}
.containerLogin .mT-20{
    margin-top: -8px;
}
.containerLogin .alert{
    background-color: var(--error);
}