.containerAulas{
    display: flex;
    flex-direction: column;
    padding: 32px;
    flex-grow: 1;
    padding-top: 100px;
    padding-left: 350px;
}

.moduleName {
    font-size: 24px;
    font-weight: bold;
    color: var(--secondary1000);
}

.moduleDescription {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary1000);
}

.Circle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 24px;
    height: 24px;
    border: solid 2px var(--primary);
    color: #FAFAFA;
    border-radius: 24px;
}

.divIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    width: 24px;
    height: 24px;
    background-color: var(--secondary900);
    color: #FFF;
}

.containerAulas .divContent{
    flex-direction: column;
    position: relative; 
}

.contentInfo {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 18px;
    font-weight: 400;
}
.blocked {
    opacity: 0.5; 
}

.btn-continue{
    border: none;
    background-color: transparent;
    border: solid 1px var(--bg-principal);
    padding: 18px 36px;
    border-radius: 4px;
    font-size: 20px;
    color: var(--bg-principal);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.containerAulas button:hover{
    background-color: var(--bg-principal);
    color: var(--bg-White);
}
.containerAulas .divHeadLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerAulas .textHeadLine{
    width: 50%;
}

.contentRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border: 1px solid var(--secondary700 );
    color: var(--secondary700);
    margin: 8px 0;
    border-radius: 4px;
    background-color: #FAFAFA;
}

.nextModuleButton.disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

.titleContent {
    padding: 24px 0 12px 0;
    font-weight: 500;
}

.score {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    color: var(--bg-White);
    border-radius: 40%;
}

.score.green {
    background-color: #28a745;
}

.score.red {
    background-color: #dc3545;
}

.nextModuleButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--bg-principal);
    color: var(--bg-White);
    border: none;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 4px;
    cursor: pointer;
    width: 260px;
}

.btn-access {
    border-radius: 4px;
    border: 1px solid var(--bg-principal);
    padding: 0.5rem;
    background-color: var(--bg-White);
    font-size: 14px;
    font-weight: 500;
    color: var(--bg-principal);
}

.nextModuleButton:hover {
    background-color: var(--bg-principal-dark);
}
