.containerModulos{
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 100%;
}
.containerModulos .divContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
    background-color: #FFF;
    border-radius: 4px;
    height: auto;
    padding-bottom: 16px;
    font-size: 18px;
}
.containerModulos .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.containerModulos .divInfos {
    display: flex;
    flex-direction: column;
}
.containerModulos .divValues{
    cursor: pointer;
}
.containerModulos .divHeader,
.containerModulos .divValues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: solid 1px var(--secondary200);
    font-size: 16px;
    position: relative;
}
.containerModulos .divValues:last-child{
    border-bottom: none;
}
.containerModulos .divHeader .title,
.containerModulos .divValues .spanBox {
    padding: 16px;
    overflow: hidden;        
    text-overflow: ellipsis; 
    white-space: nowrap;
    position: relative;
}
.containerModulos .bold{
    font-weight: bold;
}
.containerModulos .divValues .active{
    color: var(--success);
}
.containerModulos .divValues .block{
    color: var(--color-block);
}
.containerModulos .divValues .end{
    color: var(--error);
}
.containerModulos .divValuesPai{
    position: relative;
}
.containerModulos .divValuesPai .btnEdit{
    position: absolute;
    right: 16px;
    top: 8px;
    border: solid 1px var(--secondary200);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 8px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2000;
}
.containerModulos .divValuesPai .modalEditUser{
    position: absolute;
    right: 38px;
    top: 8px;
    padding: 3px;
    border: solid 1px var(--primary-200);
    border-radius: 4px;
    background-color: #FFF;
    z-index: 2000;
}
.containerModulos .divValuesPai .modalEditUser p{
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    transition: .3s;
}
.containerModulos .divValuesPai .modalEditUser .alert{
    color: var(--error);
}
.containerModulos .divValuesPai .modalEditUser .text{
    padding: 4px 6px;
    border-radius: 2px;
}
.containerModulos .divValuesPai .modalEditUser .text:hover{
    background-color: var(--primary-200);
}
.containerModulos .divValuesPai .modalEditUser .alert:hover{
    background-color: var(--errorHover);
}
.containerModulos .divValuesPai .modalEditUser .text .divIcon{
    background-color: var(--secondary1000);
    width: 15px;
    height: 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
.containerModulos .divValuesPai .modalEditUser .text .alert{
    background-color: var(--error);
    border-radius: 15px;
}