.containerRastreios {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 100%;
}

.containerRastreios .divContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
  background-color: #FFF;
  border-radius: 4px;
  height: auto;
  padding-bottom: 16px;
  font-size: 16px;
  position: relative;
}

.containerRastreios .divInfos {
  display: flex;
  flex-direction: column;
}

.containerRastreios .divInfos .divValues {
  overflow-y: auto;
  height: 100%;
  max-height: calc(100vh - 410px);
}

.containerRastreios .divInfos .divValues::-webkit-scrollbar {
  width: 6px; 
}

.containerRastreios .divInfos .divValues::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 10px;
}

.containerRastreios .divInfos .divValues::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

.containerRastreios .divHeader,
.containerRastreios .divRastreios {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr 1fr 1fr 20px;
    align-items: center;
    border-bottom: solid 1px var(--secondary200);
}

.containerRastreios .divHeader .title,
.containerRastreios .divRastreios .spanBox {
    padding: 16px;
    overflow: hidden;        
    text-overflow: ellipsis; 
    white-space: nowrap;
    position: relative;
}
.containerRastreios .divRastreios .spanBox .text { 
    display: flex;
    align-items: center;
    border-radius: 20px;
    max-width: 130px;
}

.titleRastreios {
  color: var(--secondary1000);
  font-size: 2rem;
  font-weight: 700;
  padding: 1.5rem 0;
}

.modalList {
  list-style: none;
  padding: 4px;
}

.listaFiltrada {
  background-color: white;
  padding: 0.5rem;
}

.filtros {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.cabecalhoLista {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  line-height: 24px;
}

.spanName {
  display: flex;
  align-items: center;
  padding: 8px;
  overflow: hidden;        
  text-overflow: ellipsis; 
  white-space: nowrap;
  position: relative;
  gap: 12px
}

.dowRastreio {
  display: flex;
  color: #616161;
  border: 2px solid var(--secondary200);
  border-radius: 4px;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
}

.modalRastreio {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modalRastreio button {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.modalRastreio button:hover {
  background: #f5f5f5;
}

.deleteRastreio {
  color: red;
}

.paginacao {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.navBtn {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--secondary900);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalConfirmacao {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.botoes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.textModal {
  font-size: 24px;
  font-weight: 500;
  color: var(--secondary1000);
}

.btnSim {
  background-color: var(--error);
  color: white;
  border: none;
  padding: 10px 20px;
  width: 180px;
  height: 48px;
    border-radius: 4px;
    cursor: pointer;
}

.btnNao {
  background-color: white;
  color: var(--primary-300);
  padding: 10px 20px;
  border: 2px solid var(--primary-300);
  width: 180px;
  height: 48px;
    border-radius: 4px;
    cursor: pointer;
}
