.containerModuloConteudo{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.containerModuloConteudo .divContent{
    display: flex;
    height: 100%;
}
.containerModuloConteudo .divMaterial{
    margin-left: 380px;
    padding-top: 100px;
}