:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-1:#EBEDFA;
  --color-1:#323F49;
  --bg-White:#FFF;
  --yellow-1: #FDB415;
  --primary-200:#DAE1E7;
  --border-light:#E0E0E0;
  --color-3:#B6C3CD;
  --bg-btnConfirm:#222D7E;
  --color-textLine:#007AFF;
  --bg-principal:#222D7E;
  --bg-principal-light:#c1afe0;
  --bg-success:#1BA284;
  --bg-block:#C2CDD6;
  --color-block: #92A5B5;
  --secondary200:#DAE1E7;
  --indigo50:#e8eaf6;
  --indigo500:#3f51b5;
  --secondary100:#e7ebef;
  --secondary1000:#323f49;
  --secondary700:#7991a4;
  --secondary500: #B6C3CD;
  --success:#1BA284;
  --secondary800:#637D92;
  --secondary900:#4A5E6D;
  --secondary1000:#323F49;
  --primary:#222D7E;
  --primary-200: #C3C8EF;
  --primary-300: #9BA3E4;
  --primary-400: #727FD9;
  --primary-500: #4A5ACE;
  --primary-600: #3141B5;
  --primary-700: #26328D;
  --primary-800: #1B2464;
  --primary-900: #10163C;
  --primary-1000: #050714;
  --success-light:#e4faf5;
  --warning200:#EDA145;
  --warning50:#fceede;
  --blur:#00000065;
  --error: #D32F2F;
  --errorHover: #d32f2f3b;
  
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

html::-webkit-scrollbar {
  width: 6px; 
}

html::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}
html {
  overflow-y: scroll;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
