.containerModalCreateModulo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    background-color: var(--blur);
}
.containerModalCreateModulo .modalCreate{
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #FFF;
    border-radius: 4px;
    gap: 18px;
    width: 90%;
    max-width: 500px;
}
.containerModalCreateModulo .modalCreate .divheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerModalCreateModulo .modalCreate .divClose{
    cursor: pointer;
}
.containerModalCreateModulo .divFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}