.containerDashProf{
    display: flex;
    flex-direction: column;
    padding: 32px;
    color: var(--secondary1000);
}
.containerDashProf .divInputs{
    display: flex;
    margin-top: 20px;
    gap: 8px;
}
.containerDashProf .divBoxItens{
    display: flex;
    justify-content: space-between;
    padding-block: 12px;
    gap: 24px;
}
